.header-container {
  background-color: #3367d6;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  width: 85px;
  margin-left: 40px;
}
.search-input-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2850a7;
  border-color: #ececec;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  height: 38px;
  width: 470px;
  margin-right: 310px;
}

.search-icon {
  width: 32px;
  padding-left: 10px;
}

.input-element {
  color: #475569;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 700;
  background-color: transparent;
  border-width: 0px;
  width: 85%;
  height: 38px;
  border-left: 1px solid #ececec;
  padding-left: 10px;
  outline: none;
}

.app-container {
  min-height: 90vh;
  background-color: #ececec;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.history-lists-container {
  width: 90%;
  display: flex;
   flex-direction: column;
  align-items: center;
  margin-top: 40px;
  border-radius: 3px;
  background-color: #ffffff;
}


.no-history-text{
  color: #475569;
  font-family: Roboto;
  font-size: 18px;
  text-align: center;
}